<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/add_book" method="POST">
    <input type="text" id="title" name="title" placeholder="Title" required><br><br>
    <input type="text" id="isbn" name="isbn" placeholder="ISBN" required><br><br>
    <input type="number" id="publication_year" name="publication_year" placeholder="Publication Year" required><br><br>
    <input type="number" id="author_id" name="author_id" placeholder="Author ID" required><br><br>
    <input type="submit" value="Add Book">
  </form>

  </body>
</html>
